<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campgrounds</title>
    <script src="/js/popper/popper.min.js" type="application/javascript" async></script>
    <script src="/js/bootstrap/bootstrap.min.js" type="application/javascript" async></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Campgrounds</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link nav-link <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>" href="/campgrounds">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!user){ %>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signed in as <%= user.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } else if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>

<div class="container">
