<%- include("../partials/header") %>
    <main class="row justify-content-center form">
        <div class="col-md-12">
            <h1 class="text-center">Edit <%= campground.name%></h1>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/campgrounds/<%= campground._id%>?_method=put" method="post">
                <div class="form-floating">
                    <input id="name" class="form-control form-top-element" type="text" value="<%= campground.name %>" name="campground[name]" required>
                    <label for="name">Name</label>
                </div>
                <div class="form-floating">
                    <input id="url" type="text" class="form-control form-mid-element" value="<%= campground.image %>" name="campground[image]" required>
                    <label for="url">Image URL</label>
                </div>
                <div class="form-floating">
                    <input id="description" type="text" class="form-control form-floating-lg form-mid-element" name="campground[description]" value="<%= campground.description %>"
                           required>
                    <label for="description">Description</label>
                </div>
                <div class="form-floating">
                    <input id="cost" type="number" class="form-control form-bottom-element" name="campground[cost]" value="<%= campground.cost %>" step="0.01" min="0" required>
                    <label for="cost">Cost(in Rs.)/night</label>
                </div>
                <button class="w-50 btn btn-lg btn-primary mb-5" type="submit">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>" class="link-secondary">Go back</a>
        </div>
</main>
<%- include("../partials/footer") %>

